/* @charset "UTF-8";
 */

/*  p {
	border: 1px solid black;
}

div {
	border: 1px solid gray;
}

ol {
	border: 1px solid yello;
}
li {
	border: 1px solid red;
}  */

button {
    width:100px;
    background-color: rgb(65,63,73);
    border: none;
    color: white;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
}

body {
	font-family: 'kopubdotum', sans-serif;
	background-color: #E6E6E6;
}

.head_menu ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.head_menu ul li {
	font-size: 1vw;
	margin-right: 3vw;
}


main #main_img{
	width: 100%;
	height: auto;
}
		

main .comment{
	margin : 20px 0 20px 0;
	text-align: center;
}

main .comment div{
	display: inline-block;
}



.line {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
}

.line:after {
	display: inline-block;
	margin: 0 0 0.5vw 1vw;
	height: 1px;
	content: "";
	text-shadow: none;
	background-color: #999;
	width: 41%;
}

.line:before {
	display: inline-block;
	margin: 0 1vw 0.5vw 0;
	height: 1px;
	content: "";
	text-shadow: none;
	background-color: #999;
	width: 41%;
}

.line span{	
	display : inline-block;
	font-size: 2vw;
	color: yellow;
	font : bolder;
	background-color: rgb(64,63,69);
	padding: 0 10px 0 10px;
}



main .top_boxs {
	display: flex;
	justify-content: center;
}

main .top_boxs img, main .our_work img, main .our_client img{
	margin-left: 3vw;
	margin-right: 3vw;
	width: 20vw;
	height: 20vw;
}


main .our_work {
	margin-bottom : 100px;
	display: flex;
	justify-content: center;
	
}

main .our_client{
	margin-bottom : 100px;
	display: flex;

	
}


footer {
	color:white;
	display: flex;
	background-color: #36454F;
	justify-content: space-around;
}

a {
	color: black;
	text-decoration: none;
}


